/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family : "Roboto", sans-serif;
}

main, .row {
    z-index: 3;
}

.listeCadeau > h5 {
    color: rgb(172, 149, 136);
}

h1 > .badge {
    font-size: 50%;
    vertical-align: 6px;
}

#logo {
    height: 50px;
    margin-right: 20px;
}

#logoFooter {
    height: 20px;
    vertical-align: baseline;
}

.innerContainer {
    margin: 10px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #baaca4;
    line-height: 50px;
}

.footer span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.footer a {
    color: #fef3ed;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 80px 15px 20px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

h1 {
    margin-bottom: 2rem;
}

.dropdown-menu {
    background: #baaca4;
    color: #fff;
}

.dropdown-item {
    color: #fff;
}

.bg-dark {
    background: #baaca4!important;
}

.table .thead-dark th {
    background: #baaca4;
    border-color: #baaca4;
}

.listeCadeau {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.listeCadeau .card {
    width: 48%;
    margin-bottom: 20px
}

#countdown {
    display: flex;
    justify-content: center;
}

.compterebourDiv {
    background: #baaca4;
    color: #FFF;
    padding: 0 0 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.compterebour {
    font-size: 3em;
}

.sapin {
    height: 200px;
    z-index: 1;
    position: absolute;
}

img.cadeau {
    float: left;
    height: 20px;
    margin-right: 10px;
}

img.cadeaux {
    width: 100%;
    margin-bottom: -34px;
}

.jumbotron {
    margin-top: 20px;
}

code {
    font-size: 80%;
}

/*******************************************
** MEDIA QUERIES
 *******************************************/
@media (max-width: 767.98px) {
    #logo {
        margin-right: 5px;
    }

    .listeCadeau .card {
        width: 100%;
        margin-bottom: 20px
    }

    .btn {
        margin-bottom: 5px;
    }

    .footer span {
        line-height: 30px;
    }
}