<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">La Terre aussi a droit à son <img style="height: 20px;" src="{{ asset('image/cadeau.png') }}" alt=""> !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5><b>STOP</b> au papier cadeau jetable</h5>
                Pour ces fêtes de fin d'année, nous vous invitons à réduire vos déchets en utilisant des alternatives au papier cadeau :
                <ul>
                    <li>Des images/photos d'anciens calendriers</li>
                    <li>Des vieilles cartes routières</li>
                    <li>Des pages de journaux ou de magazines</li>
                    <li>Des restes de papier peint</li>
                    <li>Des feuilles de brouillon</li>
                </ul>

                D'autres emballages réutilisables peuvent aussi embellir vos cadeaux :
                <ul>
                    <li>Un torchon</li>
                    <li>Un foullard avec la <a href="https://www.youtube.com/results?search_query=furoshiki+cadeau" target="_blank">méthode Furoshiki</a></li>
                    <li>Un sac en tissu</li>
                    <li>Des boîtes à chaussures</li>
                    <li>Des vieux pans de tissus</li>
                    <li>Des draps ou taies d'oreillers usagées</li>
                    <li>Des bocaux en verre vides (agrémentés de petits rubans en tissus réutilisables)</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Je relève le défis !</button>
            </div>
        </div>
    </div>
</div>