<footer class="footer">
    <div class="container">
        <span class="align-self-center">Développé par <a target="_blank" href="//www.loic-pascal.fr">Loïc PASCAL</a> - Graphisme par <a target="_blank" href="//www.em-inspiration.fr">Emmeline HAMEZ</a> - {{ "now"|date("Y") }} <img id="logoFooter" src="{{ asset('image/logo.png') }}" alt=""></span>
    </div>
</footer>